arxiv
asyncpg==0.31.0
datasets
faiss-cpu
fastapi==0.136.3
greenlet==3.5.1
groqalembic==1.18.4
langchain
langchain-community
langchain-groq
numpy
openai
psycopg2-binary==2.9.12
pydantic-settings==2.14.1
pydantic==2.13.4
pydantic_core==2.46.4
pymupdf
python-dotenv
python-multipart==0.0.29
ragas
rank_bm25
sentence-transformers
streamlit
torch
transformers
uvicorn==0.48.0
